#btnlanding.condition_reports td{
    font-size:1em !important;
}
.condition_reports td{
    font-size:1em !important;
}
#lopa b{
    font-size:1.2em !important;
}
.bola .shipa, .bola .shipa1, .bola shipa1234 {
    height:100px !important;
}
.bola .shipa221{
    height:135px !important;
}
.bola .shipa2212 .simi1{
    height: 50px !important;
}